.DS_Store
config/config
user_projects
user_data
graphic_output/draw.pyc
interface/tmp_upload_files
tmp

graphic_output/Pillow-4.2.1
graphic_output/Pillow-4.2.1/Pillow.egg-info/SOURCES.txt
graphic_output/Pillow-4.2.1/build/
graphic_output/Pillow-4.2.1/dist/
graphic_output/Pillow-4.2.1/mp_compile.pyc
graphic_output/Pillow-4.2.1/*/compiled.txt
graphic_output/Pillow-4.2.1/compiled.txt

bcftools-1.3.1
samtools1


graphic_output/PIL/*.pyc
bcftools-1.3.1/vcfplugin.o
bcftools-1.3.1/vcfnorm.o
bcftools-1.3.1/HMM.o
bcftools-1.3.1/test-rbuf
bcftools-1.3.1/vcfisec.o
bcftools-1.3.1/vcfquery.o
bcftools-1.3.1/GTisec.so
bcftools-1.3.1/color-chrs.so
bcftools-1.3.1/ccall.o
bcftools-1.3.1/filter.o
bcftools-1.3.1/vcfconcat.o
bcftools-1.3.1/vcfindex.o
bcftools-1.3.1/tsv2vcf.o
bcftools-1.3.1/test-rbuf.o
bcftools-1.3.1/mcall.o
bcftools-1.3.1/frameshifts.so
bcftools-1.3.1/gvcf.o
bcftools-1.3.1/vcfcall.o
bcftools-1.3.1/dosage.so
bcftools-1.3.1/impute-info.so
bcftools-1.3.1/convert.o
bcftools-1.3.1/vcfannotate.o
bcftools-1.3.1/vcfsom.o
bcftools-1.3.1/vcf2sex.so
bcftools-1.3.1/reheader.o
bcftools-1.3.1/setGT.so
bcftools-1.3.1/kmin.o
bcftools-1.3.1/vcfconvert.o
bcftools-1.3.1/ploidy.o
bcftools-1.3.1/vcfstats.o
bcftools-1.3.1/tabix.o
bcftools-1.3.1/vcfroh.o
bcftools-1.3.1/vcffilter.o
bcftools-1.3.1/em.o
bcftools-1.3.1/vcfmerge.o
bcftools-1.3.1/mendelian.so
bcftools-1.3.1/fill-tags.so
bcftools-1.3.1/fill-AN-AC.so
bcftools-1.3.1/version.o
bcftools-1.3.1/counts.so
bcftools-1.3.1/prob1.o
bcftools-1.3.1/fixploidy.so
bcftools-1.3.1/missing2ref.so
bcftools-1.3.1/vcfgtcheck.o
bcftools-1.3.1/tag2tag.so
bcftools-1.3.1/vcfview.o
bcftools-1.3.1/consensus.o
bcftools-1.3.1/main.o
bcftools-1.3.1/vcfcnv.o
bcftools-1.3.1/vcmp.o
bcftools-1.3.1/bcftools
bcftools-1.3.1/plugins/GTisec.so
bcftools-1.3.1/plugins/dosage.so
bcftools-1.3.1/plugins/tag2tag.so
bcftools-1.3.1/test/test-rbuf.o
bcftools-1.3.1/test/test-rbuf
bcftools-1.3.1/plugins/color-chrs.so
bcftools-1.3.1/plugins/missing2ref.so
bcftools-1.3.1/plugins/impute-info.so
bcftools-1.3.1/plugins/fill-tags.so
bcftools-1.3.1/plugins/mendelian.so
bcftools-1.3.1/plugins/fixploidy.so
bcftools-1.3.1/plugins/frameshifts.so
bcftools-1.3.1/plugins/vcf2sex.so
bcftools-1.3.1/plugins/fill-AN-AC.so
bcftools-1.3.1/plugins/setGT.so
bcftools-1.3.1/plugins/counts.so
bowtie2/bowtie2-inspect-s
bowtie2/bowtie2-align-s
bowtie2/bowtie2-align-l
bowtie2/bowtie2-inspect-l
bowtie2/bowtie2-build-s
bowtie2/bowtie2-build-l
samtools1/misc/maq2sam-long.o
samtools1/test/vcf-miniview.o
samtools1/misc/maq2sam-short
samtools1/misc/wgsim
samtools1/misc/wgsim.o
samtools1/misc/ace2sam.o
samtools1/misc/maq2sam-short.o
samtools1/misc/md5fa.o
samtools1/misc/md5sum-lite
samtools1/test/vcf-miniview
samtools1/misc/md5fa
samtools1/misc/maq2sam-long
samtools1/misc/md5sum-lite.o
samtools1/test/test.o
samtools1/misc/ace2sam
samtools1/bedidx.o
samtools1/bedcov.o
samtools1/bam_flags.o
samtools1/ace2sam.o
samtools1/md5sum-lite.o
samtools1/bam_split.o
samtools1/test_count_rg.o
samtools1/vcf-miniview
samtools1/stats_isize.o
samtools1/bamtk.o
samtools1/bam_quickcheck.o
samtools1/test_parse_args
samtools1/bam_stat.o
samtools1/test_rtrans_build
samtools1/bam_addrprg.o
samtools1/bam_reheader.o
samtools1/bam_color.o
samtools1/bam_index.o
samtools1/test_trans_tbl_init.o
samtools1/bam_tview_html.o
samtools1/errmod.o
samtools1/kprobaln.o
samtools1/padding.o
samtools1/bamshuf.o
samtools1/bam_rmdup.o
samtools1/bam_tview_curses.o
samtools1/test_bam_translate
samtools1/test_filter_header_rg.o
samtools1/sam_opts.o
samtools1/test_expand_format_string
samtools1/test_count_rg
samtools1/bam_aux.o
samtools1/test.o
samtools1/maq2sam-short.o
samtools1/test_rtrans_build.o
samtools1/bam_md.o
samtools1/test_parse_args.o
samtools1/test_expand_format_string.o
samtools1/wgsim.o
samtools1/bam_plcmd.o
samtools1/cut_target.o
samtools1/bam_mate.o
samtools1/bam_rmdupse.o
samtools1/sam_view.o
samtools1/md5fa.o
samtools1/dict.o
samtools1/bam_cat.o
samtools1/bam_tview.o
samtools1/bam2depth.o
samtools1/sample.o
samtools1/bam_lpileup.o
samtools1/libbam.a
samtools1/bam_import.o
samtools1/stats.o
samtools1/test_bam_translate.o
samtools1/test_trans_tbl_init
samtools1/bam_sort.o
samtools1/bam2bcf_indel.o
samtools1/bam.o
samtools1/phase.o
samtools1/maq2sam-long.o
samtools1/bam2bcf.o
samtools1/vcf-miniview.o
samtools1/bam_plbuf.o
samtools1/test_filter_header_rg
bcftools-1.3.1/version.h
samtools1/faidx.o
samtools1/sam.o
samtools1/sam_header.o
samtools1/samtools
samtools1/test/merge/test_bam_translate
samtools1/test/merge/test_bam_translate.o
samtools1/test/merge/test_rtrans_build
samtools1/test/merge/test_rtrans_build.o
samtools1/test/merge/test_trans_tbl_init
samtools1/test/merge/test_trans_tbl_init.o
samtools1/test/split/test_count_rg
samtools1/test/split/test_count_rg.o
samtools1/test/split/test_expand_format_string
samtools1/test/split/test_expand_format_string.o
samtools1/test/split/test_filter_header_rg
samtools1/test/split/test_filter_header_rg.o
samtools1/test/split/test_parse_args
samtools1/test/split/test_parse_args.o
samtools1/version.h

