/* This may be dispensable */
/*
[unselectable] {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
*/

* {
	font-family: Ubuntu;
	font-size: 16px;
	color: #333333;
}

#formLeft, #formRight {
	display: inline-block;
	width: 49%;
	vertical-align: top;
	padding: 3px;
}

#formRight {
	border: 1px solid gray;
	border-radius: 5px;
}

#formButtons {
	vertical-align: top;
	padding: 3px;
}

#simDataInterface,
#expDataInterface,
#expDataSingle,
#expDataPaired,
#expDataSingleTwosamples,
#expDataPairedTwosamples {
	display: none;
}

/* Temporary div that shows the command arguments */
#command > p {
	font-family: monospace;
	font-size: 12px;
}



/*
Radio buttons and their labels. The radio buttons are hidden and instead their 
labels appear as buttons to the user. This is a workaround to create css-only mutually
exclusive button choices.
*/
.mx-button input {
    display: none;
}

.mx-button {
    float: left;
    padding: 10px;
}

.mx-button label {
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px; 
    padding: 12px 20px;
}

.mx-button label:hover {
    background: #ddd;
}

.mx-button input:checked + label {
    background: #668cff;
    color: white;
}

/* Text inputs */
input[type=text], select {
	width: 75%;
	padding: 8px 12px;
	margin: 8px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=text]:hover {
	border-color: #737373;
}

input[type=text]:focus {
	border: 1px solid #737373;
	background-color: #f2f2f2;
}


/* Buttons */
.button {
	width: 30%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: #3366ff;
	color: white;
}

.button:hover {
	border-color: #737373;
	background-color: #668cff;
}

.button:focus {
	border-color: #737373;
	background-color: red;
}


/* Radio buttons (and the ul and il elements that contain them) */
ul li {
	color: #AAAAAA;
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 100px;
}

ul li input[type=radio] {
	position: absolute;
	visibility: hidden;
}

ul li label {
	display: block;
	position: relative;
	font-weight: 300;
	font-size: 1.35em;
	padding: 25px 25px 25px 80px;
	margin: 10px auto;
	height: 30px;
	z-index: 9;
	cursor: pointer;
}

ul li .check {
	display: block;
	position: absolute;
	border: 5px solid #AAAAAA;
	border-radius: 100%;
	height: 25px;
	width: 25px;
	top: 30px;
	left: 20px;
	z-index: 5;
}

ul li:hover .check {
	border: 5px solid purple;
}

ul li .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 15px;
	width: 15px;
	top: 5px;
	left: 5px;
	margin: auto;
}

input[type=radio]:checked ~ .check {
	border: 5px solid orange;
}

input[type=radio]:checked ~ .check::before {
	background: red;
}





